@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
}

footer{
    
    background-color: rgb(174, 0, 0);
    padding: 20px;
    
    text-align: center;
    margin-top: 5px;
    
}

img{
    width: 100%;
}

footer:hover{
    background-color: red;

}

a{
    text-decoration: none;
    color: white;
    font-size: 2em;
}